body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 20px;
    
  }
  
  .logo img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .company-name {
    font-size: 24px;
    margin: 0;
    color: #3498db;
  }
  .system-name{
    color: #15547e;
  }
  .login-form {
    width: 80%;
    max-width: 300px;
    margin-top: 20px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-form button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .login-form button:hover {
    background-color: #2980b9;
  }
  