

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ebeaea;
}

/* Header styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  background-color: #bebebe;
  box-sizing: 2px 2px 2px 2px gray;
}

.logo {
  width: 50px;
  height: 50px;
}

.company-name {
  text-align: center;
  flex-grow: 1;
  color: #3498db;
}
.system-name{
  margin-top: -20px;
  color: #15547e;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px;

}
.account-position {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: #0b3048;
}
.user-profile{
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(13, 13, 100) inset;
  cursor: pointer;
  
}
/* Content styles */
.content {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 20px 0px;
}

.sidebar {
  width: 30%;
  background-color: #f0f0f0;
  padding: 40px;
  display: flex;
  flex-direction: column;

}

.sidebar h4 {
  margin-bottom: 20px;
}
.sidebar i{
  margin-right: 10px;
}
.main-link {
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
  padding: 10px 0px;
  font-size: 20px;
  text-transform: capitalize;
}

.main-link:hover {
  color: #007bff;
}

.copy-right {
  margin-top: auto;
  text-align: center;
  font-size: 15px;
  color: #777;
  
}

.main-content {
  width: 60%;
  padding: 20px;
  margin-left: 20px;
}

.content-section {
  display: none;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}
/* form styles */


.form-container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.user-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-form h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.user-form label {
  font-weight: bold;
}

.user-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-form button:hover {
  background-color: #0056b3;
}


/* -------------------
report style */


h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.report-section {
  border-top: 1px solid #ccc;
  padding: 5px 0;
}

.report-section h2 {
  font-size: 1.2rem;
}

.statistic {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}

/* Logout Popup styles */
.logout-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup-content h2 {
  margin-bottom: 10px;
}

.popup-buttons {
  margin-top: 20px;
}

.popup-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-buttons button#confirm-logout-button {
  background-color: #f44336;
  color: white;
}

.popup-buttons button#cancel-button {
  background-color: #ddd;
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .main-content {
    width: 100%;
  }
  .report-container {
    padding: 10px;
  }
}
